<table class='table table-striped'>
  <tr>
    <th>Function Call</th>
    <th>Last Run</th>
    <th>Duration</th>
    <th>Last Error</th>
  </tr>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.call %></td>
    <td><%= job.last_run ? time_ago_in_words(job.last_run) + ' ago' : 'None' %></td>
    <td><%= job.duration.is_a?(String) ? job.duration : distance_of_time_in_words(job.duration) %></td>
    <td><%= job.error_message || 'None' %></td>
  </tr>
<% end %>
</table>


<%= form_tag({controller: "job", action: "create"}, method: "post", class: "form-group") %>
<%= select_tag "river", options_for_select(River.with_station.collect { |river| [river.name, river.id]}), class: 'form-control' %>
<button type="submit" class="btn btn-primary">Submit</button>
</form>