<!DOCTYPE html>
<html>
  <head>
    <title>RiverLevelSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            RiverLevel (Beta)
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/rivers">Rivers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><a href="/account">My Account</a></li>
            <% else %>
              <li><a href="/users/sign_in">Log In</a></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-right">
            <select id="search" class="" type="search" name="states[]" style="display: none;">
            </select>
          </form>
        </div>
      </div>
    </nav>
    <span id="ex18-label-1" class="hidden">Example slider label</span>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
